<!-- include html header and main navigation bar -->
<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %> 

<!-- error message main content -->
<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>

<!-- include bottom navigation and html footer -->
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %> 